<div class="portlet-frame">

  <div class="portlet-header lightblue">保存記事一覧</div>

  <div class="container">
    <% if @posts.count == 0%>
      <div class="portlet-row row">
        <div class="col-12" style="text-align:center; color:gray;">
          保存している記事はありません
        </div>
      </div>
    <% end %>
    <% @posts.each_with_index do |post, i|%>
      <div class="portlet-row row">
        <div class="search-result-row-title col-md-3">
          <%= link_to(post.title, "/posts/#{post.id}")%>
        </div>
        <div class="search-result-row-content col-md-6">
          「<%= post.content&.truncate(30, omission: '...')%>」
        </div>
        <div class="search-result-row-writer">
          　 <i class="fas fa-feather-alt"></i> <%= Member.find_by(id: post.member_id)&.name %>
        </div>
      </div>
      <% if  i < @posts.count - 1 %>
        <div class="border-dashed mt5 mb10"></div>
      <% end %>
    <% end %>
  </div>
</div>

<%= backward %>
