<div class="portlet-frame">
  <div class="portlet-header gray">
    記事編集
  </div>
  <% if @error_message %>
  <div class="error-message"><%= @error_message %></div>
  <% end %>
  <%= render partial: "form", locals: { post: @post } %>
</div>

<%= backward %>