<div class="portlet-frame">

  <div class="portlet-header gray">マイ記事</div>

  <div class="container">

    <% @posts.each_with_index do |post, i|%>
      <div class="portlet-row row">
        <div class="search-result-row-title col-8">
          <%= link_to(post.title, "/posts/#{post.id}")%>
        </div>
        <div class="search-result-row-content col-3">
          <div class="post-modify-icon">
            <%= link_to "/posts/#{post.id}", method: :delete , data:{confirm: "削除しますか?"} do %>
            <i class="fas fa-trash-alt"></i>削除
            <% end %>
          </div>
          <div class="post-modify-icon">
            <%= link_to("/posts/#{post.id}/edit") do %>
            <i class="fas fa-edit"></i>編集
            <% end %>
          </div>
        </div>
      </div>

      <% if  i < @posts.count - 1 %>
        <div class="border-dashed mt5 mb10"></div>
      <% end %>
    <% end %>

  </div>
</div>

<%= backward %>