<div class="portlet-frame">
  <div class="portlet-header gray pedi">
    記事作成
    <div>
      <%= link_to("(マイ記事一覧)", "/posts")%>
    </div>
  </div>
  <% if @error_message %>
  <div class="error-message"><%= @error_message %></div>
  <% end %>

  <%= render partial: "form", locals: { post: @post } %>
</div>

<%= backward %>