// Place all the styles related to the attention controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  .likes-row-prof{
    text-align: center;
  }
  .likes-row-prof span{
    color:gray;
    font-size: 13px;
  }
  .likes-row-details {
    color: gray;
  }

  .likes-row-details{
    margin-top: 3px;
    text-align: center;
  }

  .likes-row-content{
    font-size: 12px;
    color:gray;
  }

  .likes-row-writer{
    color:gray;
  }


  .m a{ font-size:16px; color:rgb(0, 162, 255); }
  .f a{font-size:16px; color:rgb(247, 118, 247);}
  .n a{font-size:16px; color:rgb(105, 105, 105);}

  .likes-row-band-link a{
    color:gray;
  }

  .likes-row-title a{
    color:gray;
  }

  @media screen and (max-width: 767px) {
    .error_message{
        font-size: 11px;
    }
  }