// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.band-edit{
    width: 700px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color: white; 
    text-align: center;
    padding-bottom:10px;
    box-shadow:1px 1px 7px rgb(172, 172, 172);
    
  }

.band-edit textarea{
    width:90%;
    resize: none;
    height:100px;
    border-radius: 5px;
    border: solid 1px silver;
    padding:3px;
  }

.band-edit-title{
    color: rgb(74, 80, 97);
    width: 700px;
    height: 40px;
    padding-top: 7px;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: lightgray;
    border: solid 1px lightgray;;
  }

  .band-edit-row{
      color:rgb(87, 87, 87);
      margin:5px;
      padding:7px;
      font-size: 12px;
      border-bottom:dotted 1px  lightgray;
  }

  .band-edit-button{
    padding: 0px 10px;
    text-align: center;
    background-color: lightgray;
    height:30px;
    border-radius: 15px;
    margin: 10px ;
    border: solid 1px lightgray;
    color:rgb(74, 80, 97);
  }

  .band-show{
    width:50%;
    margin:auto;
    margin-top:100px;
    background-color: white;
    padding:10px;
    border-radius: 10px;
}

.band-show .row{
  margin:5px;
  padding:10px;
  text-align: center;
  border-bottom: dotted lightgray 1px;
  color:gray;
  font-size: 12px;
}

.band-show .row a{
    color :rgb(112, 202, 231);
}

.band-show .row a p{
    color:gray;
}

.band-show .row a i{
  font-size: 30px;
}

.band-edit-link a{
  font-size: 10px;  
  color:gray;
}

.exit-band-link a{
  color:gray;
}

.band-show .fa-heart{
  color:rgb(245, 173, 185);
}


  @media screen and (max-width: 767px) {
    .band-login_title{
        width: 100%;
    }
    .band-login{
        width: 95%;
    }

    .band-edit{
      margin-top: 70px;
        width: 95%;
    }
    .band-show{
      margin-top: 70px;
      width:95%;
    }

    .band-edit-title{
        width: 100%;
    }

    .error_message{
        font-size: 11px;
    }
  }