.gray {
  color:white;
  background-color: rgb(138, 138, 138);
  border: solid 1px rgb(138, 138, 138);
}

.lightblue {
    color:white;
    background-color: rgb(79, 191, 197);
    border: solid 1px rgb(79, 191, 197);
}