// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post-edit{
  width: 700px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  background-color: white; 
  text-align: center;
  padding-bottom:10px;
  box-shadow:1px 1px 7px rgb(172, 172, 172);
  
}

.post-edit-title{
  color: white;
  width: 700px;
  height: 40px;
  padding-top: 7px;
  margin-bottom: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: lightgray;
  border: solid 1px lightgray;;
}

.post-edit textarea{
  width:90%;
  resize: none;
  height:100px;
  border-radius: 5px;
  border: solid 1px silver;
  padding:3px;
}

.pedi{
  height:60px;
}

.post-edit-row{
    color:rgb(87, 87, 87);
    margin:5px;
    padding:7px;
    font-size: 12px;
    border-bottom:dotted 1px  lightgray;
}

.post-edit-button{
  padding: 0px 10px;
  text-align: center;
  background-color: lightgray;
  height:30px;
  border-radius: 15px;
  margin: 10px ;
  border: solid 1px lightgray;
  color:rgb(74, 80, 97);
}

.post-show{
    width:50%;
    margin:auto;
    margin-top:100px;
    background-color: white;
    padding:10px;
    border-radius: 10px;
}

.post-show .row{
  margin:auto;
  padding:10px;
  text-align: center;
  border-bottom: dotted lightgray 1px;
  color:gray;
  font-size: 12px;
}

.post-show-index{
  text-align: center;
}

.post-show .row a{
    color :rgb(112, 202, 231);
}

.post-show .row a p{
    color:gray;
}

.post-show .row a i{
  font-size: 30px;
}

.post-modify-icon a {
  color: gray;
  margin:3px;
}

.post-edit-title a{
  color:rgb(41, 87, 88);
  font-size: 10px;
  margin:5px;
}

.post-show .fa-save{
  color:#eba768;
}

@media screen and (max-width: 767px) {
  .post-show { 
    width:92%; 
    margin-top: 70px;
  }

  .post-edit {
    width: 95%;
    margin-top: 70px;
  }
  .post-edit-title {
    width: 100%;
  }
}