// Place all the styles related to the serch controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  .search-result-row-img img{
    margin-top: 15px;
  }

  .search-result-row-prof{
    text-align: center;
    margin:auto;
  }
  .search-result-row-prof span{
    color:gray;
    font-size: 13px;
  }
  .search-result-row-details {
    color: gray;
  }

  .search-result-row-details{
    margin-top: 3px;
    text-align: center;
  }

  .search-result-row-content{
    font-size: 12px;
    color:gray;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .search-result-row-writer{
    color:gray;
    font-size:10px;
    text-align: right;
  }


  .m a{ font-size:16px; color:rgb(0, 162, 255); }
  .f a{font-size:16px; color:rgb(247, 118, 247);}
  .n a{font-size:16px; color:rgb(105, 105, 105);}

  .search-result-row-band-link a{
    color:gray;
  }

  .search-result-row-title{
    text-align: center;
  }

  .search-result-row-title a{
    color:rgb(82, 82, 82);
    margin:auto;
    text-decoration: underline;
  }

  @media screen and (max-width: 767px) {

    .error_message{
        font-size: 11px;
    }
  }