<div class="portlet-frame">
  <div class="portlet-header">プロフィール編集</div>

  <div>
    <% if @error_message %>
    <p class="error_message"><%= @error_message %></p>
    <% end %>
  </div>

  <%= render partial: "form", locals: { member: @member } %>


  <%= backward(request.referer) %>

</div>